body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

#products {
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}

